<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header::header-fragment"></header>
<body class="hold-transition sidebar-mini">

<!--div defines a section in a document-->
<div class="wrapper">
  <!-- 引入页面头header-fragment -->
  <div th:replace="header::header-nav"></div>
  <!-- 引入工具栏sidebar-fragment -->
  <div th:replace="sidebar::sidebar-fragment(${path})"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <div class="content">
      <section class="content">
        <div class="error-page">
          <h2 class="headline text-warning"> 404</h2>
          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
            <p>
              We could not find the page you were looking for.
              Meanwhile, you may <a href="../../index">return to dashboard.</a>
            </p>

            <!--          <form class="search-form">-->
            <!--            <div class="input-group">-->
            <!--              <input type="text" name="search" class="form-control" placeholder="Search">-->

            <!--              <div class="input-group-append">-->
            <!--                <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>-->
            <!--                </button>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; /.input-group &ndash;&gt;-->
            <!--          </form>-->
          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
      </section>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- 引入页脚footer-fragment -->
</div>
<div th:replace="footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
</body>
</html>