<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-fragment">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" th:href="@{dist/img/gearIcon.png}"/>
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/v4-shims.min.css">
  <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap4.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body class="hold-transition sidebar-mini">

<!--div defines a section in a document-->
<div class="wrapper">
  <div th:replace="header::header-nav"></div>
  <div th:replace="sidebar::sidebar-fragment('')"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <div class="content">
      <div class="card card-primary card-outline">

        <div class="card-header">
          <nav>
            <a th:href="@{/}" class="brand-link"></a>
            <span class="brand-text font-weight-light">Title</span>
          </nav>
        </div> <!-- /.card-body -->
        <div class="card-body">
          <div class="grid-btn">
            <nav>
              <button onclick="window.location.href='admin/customerManage'">Customer Manage</button>
            </nav>
            <nav>
              <a th:href="@{/admin/product}" class="brand-link"> product</a>
            </nav>
          </div>
        </div>

      </div><!-- /.container-fluid -->
    </div>


        </div>

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
  <div th:replace="footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
<script th:src="@{/plugins/jqgrid/grid.locale-en.js}"></script>
</body>
</html>