<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.simpleMall.Dao.UserLogin">
    <sql id="Login_Info">
        id,code,admin_code,login_name, role, status
    </sql>

    <select id="loginAdmin">
        select
        <include refid="Login_Info" />
        from admin
        where login_name = #{loginName,jdbcType=VARCHAR} AND role = "admin"  AND status="normal"
    </select>
</mapper>
