<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.simpleMall.Dao.userDao">
    <resultMap type="com.example.simpleMall.Entity.User" id="UserResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="passwd" column="passwd"/>
    </resultMap>

    <select id="findAllUser" resultMap="UserResult">
        select id,name,passwd from user
        order by id desc
    </select>

    <insert id="insertUser" parameterType="com.example.simpleMall.Entity.User">
        insert into user(name,passwd)
        values(#{name},#{passwd})
    </insert>

    <update id="updateUser" parameterType="com.example.simpleMall.Entity.User">
        update user
        set
            name=#{name},passwd=#{passwd}
        where id=#{id}
    </update>

    <delete id="removeUser" parameterType="int">
        delete from user where id=#{id}
    </delete>
</mapper>