<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.simpleMall.Dao.UserDao">
    <resultMap type="com.example.simpleMall.Entity.Customer" id="CustomerResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap type="com.example.simpleMall.Entity.Admin" id="AdminResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="adminCode" column="admin_code"/>
    </resultMap>



    <insert id="insertCustomer" parameterType="com.example.simpleMall.Entity.Customer">
        insert into customer(login_name,name,password,code,role,status,created_time,update_time)
        values(#{loginName},#{name},#{password},#{code},#{role},#{status},CURRENT_TIME,CURRENT_TIME)
    </insert>

    <update id="updateCustomer" parameterType="com.example.simpleMall.Entity.Customer">
        update customer
        set
            name=#{name},password=#{password},update_time=CURRENT_TIME
        where id=#{id}
    </update>

    <delete id="removeCustomer" parameterType="int">
        delete from customer where id=#{id}
    </delete>

    <insert id="insertAdmin" parameterType="com.example.simpleMall.Entity.Admin">
        insert into admin(login_name,password,code,role,status,created_time,update_time)
        values(#{loginName},#{password},#{code},#{role},#{status},CURRENT_TIME,CURRENT_TIME)
    </insert>

    <update id="updateAdmin" parameterType="com.example.simpleMall.Entity.Admin">
        update admin
        set
            password=#{password},update_time=CURRENT_TIME,status=#{status}
        where login_name=#{loginName}
    </update>

    <delete id="removeAdmin" parameterType="int">
        delete from admin where id=#{id}
    </delete>


    <select id="findCustomer" parameterType="String" resultMap="CustomerResult">
        select id,name,code,login_name,password from customer
        where login_name = #{loginName,jdbcType=VARCHAR}
        order by id desc
    </select>

    <select id="findAdmin" parameterType="String" resultMap="AdminResult">
        select id,login_name,code,password,admin_code from admin
        where login_name = #{loginName,jdbcType=VARCHAR}
        order by id desc
    </select>

</mapper>
